body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Rubik", monospace;
}

/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background-color: #1f2937;
}

.header-logo img {
  width: 82px;
  /* justify-self: start; */
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 96px;
  background-color: #1f2937;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.heading-primary {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf9;
  margin: 0;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  width: 120px;
  padding: 6px 16px 6px 16px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
}

.hero-image img {
  max-width: 400px;
}

/* INFO SECTION */

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 96px;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 96px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.info-item img {
  width: 100px;
}

.info-item p {
  text-align: center;
  font-size: 18px;
  color: grey;
}

/* TESTIMONIAL SECTION */

.testimonial {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 48px;
  /* flex-wrap: nowrap; */
}

.testimonial-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-grow: 0;
  flex-shrink: 0; */
}

.testimonial-container p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.testimonial-container span {
  font-size: 18px;
  font-weight: 700;
  align-self: end;
}

/* CTA SECTION */

.cta {
  padding: 64px;
}

.cta-container {
  background-color: #3882f6;
  display: flex;
  padding: 16px;
  border-radius: 6px;
  justify-content: space-around;
}

.cta-container span {
  color: #f9faf9;
  font-weight: 700;
  font-size: 24px;
}

.cta-container p {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-button {
  /* justify-self: center; */
  background-color: #3882f6;
  border: #e5e7eb solid 2px;
  border-radius: 8px;
  width: 120px;
  height: 64px;
  padding: 6px 16px 6px 16px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
}
