body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Rubik", monospace;
}

/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background-color: #1f2937;
}

.header-logo img {
  width: 82px;
  /* justify-self: start; */
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 96px;
  background-color: #1f2937;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.heading-primary {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf9;
  margin: 0;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  width: 120px;
  padding: 6px 16px 6px 16px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
}

.hero-image img {
  max-width: 400px;
}

/* INFO SECTION */

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 96px;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 96px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.info-item img {
  width: 100px;
}

.info-item p {
  text-align: center;
  font-size: 18px;
  color: grey;
}
